[submodule "Source/ThirdParty/VMA"]
	path = Source/ThirdParty/VMA
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator.git
[submodule "Source/ThirdParty/entt"]
	path = Source/ThirdParty/entt
	url = https://github.com/skypjack/entt.git
[submodule "Source/ThirdParty/imgui"]
	path = Source/ThirdParty/imgui
	url = https://github.com/nicholaszollinger/imgui.git
	branch = docking
