# Nessie Engine gitignore settings.

# Don't include Build, Intermediate and Saved Folders.
Build/
Intermediate/
Saved/
Notes/

# Python Tools for Visual Studio (PTVS)
__pycache__/
*.pyc

# JetBrains Rider
*.sln.iml
.idea/

# Perforce
#.p4ignore.txt

# Visual Studio
.vs/
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.user